<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    ul{
        padding: 0;
    }
    li{
        display: inline-block;
    }
</style>
<body>
<div class="top">

    <nav class="navbar navbar-expand-lg bg-light" style="background-color: #20c997">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">K.Knock</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="/members">회원목록</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/questions/questionList">질문목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/questions/new">질문 작성</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

</div>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>