<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>질문글</th>
      </tr>
      </thead>
      <tbody>
      //ask list
      <tr th:each="ask : ${asks}">
        <td>
          <a th:text="${ask.no}" th:href="@{'/questions/'+ ${ask.no}}" ></a>
        </td>
        <td th:text="${ask.title}"></td>
        <td th:text="${ask.tags}"></td>"
      </tr>
      </tbody>
    </table>
  </div>
</div>
<button type="button" onclick="location.href='/questions/new'">질문 작성</button>
<button type="button" onclick="location.href='/'">메인으로</button>
<button type="button" onclick="location.href='/members'">회원 목록</button>


</body>
</html>